# https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: Google
IndentWidth: 4
ColumnLimit: 80
UseTab: Never

AllowShortIfStatementsOnASingleLine: AllIfsAndElse
BreakBeforeBraces: Attach

AlignConsecutiveMacros: true
AlignConsecutiveAssignments: AcrossEmptyLines
AlignConsecutiveBitFields: Consecutive

BinPackArguments: false
BinPackParameters: false

ExperimentalAutoDetectBinPacking: false
AllowAllParametersOfDeclarationOnNextLine: false
AllowAllArgumentsOnNextLine: false

CommentPragmas: '/\*(.+\n.+)+\*/'
